{{ bioc_version }}/books/bin
{{ bioc_version }}/bioc/bin
{{ bioc_version }}/data/annotation/bin
{{ bioc_version }}/data/experiment/bin
{{ bioc_version }}/workflows/bin
{{ bioc_version }}/books/src
{{ bioc_version }}/bioc/src
{{ bioc_version }}/data/annotation/src
{{ bioc_version }}/data/experiment/src
{{ bioc_version }}/workflows/src
{{ bioc_version }}/BiocViews
{{ bioc_version }}/BiocViews.html
{{ bioc_version }}/index.html
